In [4]:
# Import
import sys
sys.path.append('../../')
 
from a_models.auto_detect_annotation import *   
 
if __name__ == '__main__': 
    # --------------------------------------------------     
    space = "  __"  
    # --------------------------------------------------  
    table           = 'datasets' 
    # --------------------------------------------------  
    detect(table, space)
    # --------------------------------------------------   
    print(space + "__End", flush=True) 
    ####################################################

  ____detect()
  ______Select  id  , nama  , label  from anotasis  where nama like '~%'  and done is null
  ________Total Row(s) : 9
  __________[1/9]  #155 __ ~ Have __ persyaratan
  __________auto_detect()
  ____________Select  id  , name  from datasets where name like 'Have'  and persyaratan = 'O'
  ______________Total Row(s) : 12262
  __________[2/9]  #156 __ ~ Having __ persyaratan
  __________auto_detect()
  ____________Select  id  , name  from datasets where name like 'Having'  and persyaratan = 'O'
  ______________Total Row(s) : 4253
  __________[3/9]  #157 __ ~ Track __ tugas
  __________auto_detect()
  ____________Select  id  , name  from datasets where name like 'Track'  and tugas = 'O'
  ______________Total Row(s) : 1404
  __________[4/9]  #158 __ ~ Create __ tugas
  __________auto_detect()
  ____________Select  id  , name  from datasets where name like 'Create'  and tugas = 'O'
  ______________Total Row(s) : 4190
  __________[5/9]  #159 __ ~ Menguasai __ tugas
  __________auto_detect()
  ____________Select  id  , name  from datasets where name like 'Menguasai'  and tugas = 'O'
  ______________Total Row(s) : 7811
  __________[6/9]  #160 __ ~ Siap __ tugas
  __________auto_detect()
  ____________Select  id  , name  from datasets where name like 'Siap'  and tugas = 'O'
  ______________Total Row(s) : 2466
  __________[7/9]  #161 __ ~ Bertanggung __ tugas
  __________auto_detect()
  ____________Select  id  , name  from datasets where name like 'Bertanggung'  and tugas = 'O'
  ______________Total Row(s) : 10286
  __________[8/9]  #162 __ ~ Mengedukasi __ tugas
  __________auto_detect()
  ____________Select  id  , name  from datasets where name like 'Mengedukasi'  and tugas = 'O'
  ______________Total Row(s) : 174
  __________[9/9]  #163 __ ~ Kanvasing __ tugas
  __________auto_detect()
  ____________Select  id  , name  from datasets where name like 'Kanvasing'  and tugas = 'O'
  ______________Total Row(s) : 38
  ____End