In [1]:
# Import
import sys
sys.path.append('../../../../../')
 
from a_models.usia import *   
 
if __name__ == '__main__': 
    # --------------------------------------------------  
    entity  = "jobdescription_dataset_0_5000_fk_train"  
    # -------------------------------------------------- 
    space = "  __" 
    # --------------------------------------------------  
    bukan_usia(entity, space)
    # --------------------------------------------------    
    ####################################################

  ____bukan_usia()
  ______Select  name   , id   from jobdescription_dataset_0_5000_fk_train where entitas = 'Usia'  order by name asc
  ________Total Row(s) : 1354
  __________[1/1354]  __INT__  # Usia maksimal 28 tahun
  __________[2/1354]  __INT__  #              Usia max 30 tahun
  __________[3/1354]  __INT__  #         Usia Maksimal 30 Tahun
  __________entitas_back_to_null()
  ____________UPDATE `jobdescription_dataset_0_5000_fk_train` SET `entitas` = '' WHERE `id` = '61220';
  __________[4/1354]  __NOT__  #        Usia max
  __________entitas_back_to_null()
  ____________UPDATE `jobdescription_dataset_0_5000_fk_train` SET `entitas` = '' WHERE `id` = '85751';
  __________[5/1354]  __NOT__  #       Usia max
  __________[6/1354]  __INT__  #   Usia 18   40 tahun
  __________[7/1354]  __INT__  #  Berusia 20 40 Tahun
  __________[8/1354]  __INT__  #  Berusia 21 tahun ke atas
  __________[9/1354]  __INT__  #﻿  Berusia maksimal 35 tahun untuk lulusan S2, dan 40 tahun untuk lulusan S3
  __________[10/1354]  __INT__  #  Berusia minimal 19 tahun
  __________[11/1354]  __INT__  #  Maksimal usia 30 tahun
  __________entitas_back_to_null()
  ____________UPDATE `jobdescription_dataset_0_5000_fk_train` SET `entitas` = '' WHERE `id` = '82175';
  __________[12/1354]  __NOT__  #  Memiliki motivasi untuk bekerja yang tinggi dan antusias
  __________[13/1354]  __INT__  #  usia 19   27 tahun
  __________[14/1354]  __INT__  #  usia max 25 tahun
  __________[15/1354]  __INT__  # Host berusia 19 27 tahun
  __________[16/1354]  __INT__  # Sehat, minimal usia 28 tahun
  __________[17/1354]  __INT__  # Usia 21 35 tahun
  __________[18/1354]  __INT__  # Usia 21 35 tahun
  __________[19/1354]  __INT__  # Usia maksimal 30 tahun
  __________[20/1354]  __INT__  # Usia Maksimal 35 Tahun (Fresh Graduate dipersilahkan untuk melamar)
  __________[21/1354]  __INT__  # Usia Maksimal 35 Tahun (Fresh Graduate dipersilahkan untuk melamar)
  __________entitas_back_to_null()
  ____________UPDATE `jobdescription_dataset_0_5000_fk_train` SET `entitas` = '' WHERE `id` = '86698';
  __________[22/1354]  __NOT__  # usia max 30thn
  __________[23/1354]  __INT__  #– Usia Maksimal 30 tahun
  __________[24/1354]  __INT__  #1 berusia antara 20 40 tahun
  __________[25/1354]  __INT__  #1 berusia antara 20 40 tahun
  __________entitas_back_to_null()
  ____________UPDATE `jobdescription_dataset_0_5000_fk_train` SET `entitas` = '' WHERE `id` = '70661';
  __________[26/1354]  __NOT__  #1, Cheerful personality, treat people with enthusiasm, honesty and integrity, strong sense of responsibility, good language skills, communication skills and team spirit
  __________entitas_back_to_null()
  ____________UPDATE `jobdescription_dataset_0_5000_fk_train` SET `entitas` = '' WHERE `id` = '20228';
  __________[27/1354]  __NOT__  #14	Mempersiapkan anggaran tahunan sumber daya manusia
  __________[28/1354]  __INT__  #7 Usia max 27 Tahun
  __________entitas_back_to_null()
  ____________UPDATE `jobdescription_dataset_0_5000_fk_train` SET `entitas` = '' WHERE `id` = '46536';
  __________[29/1354]  __NOT__  #Ability to work in a cross functional team, be enthusiastic and communicate well (verbal and written)
  __________entitas_back_to_null()
  ____________UPDATE `jobdescription_dataset_0_5000_fk_train` SET `entitas` = '' WHERE `id` = '78467';
  __________[30/1354]  __NOT__  #Active, energetic and enthusiastic
  __________entitas_back_to_null()
  ____________UPDATE `jobdescription_dataset_0_5000_fk_train` SET `entitas` = '' WHERE `id` = '29811';
  __________[31/1354]  __NOT__  #An enthusiastic team member who collaborates well with others and builds strong working relationships
  __________entitas_back_to_null()
  ____________UPDATE `jobdescription_dataset_0_5000_fk_train` SET `entitas` = '' WHERE `id` = '71225';
  __________[32/1354]  __NOT__  #An enthusiastic, self motivated, good team player and good personality
  __________entitas_back_to_null()
  ____________UPDATE `jobdescription_dataset_0_5000_fk_train` SET `entitas` = '' WHERE `id` = '80215';
  __________[33/1354]  __NOT__  #An enthusiastic, self motivated, good team player and good personality
  __________entitas_back_to_null()
  ____________UPDATE `jobdescription_dataset_0_5000_fk_train` SET `entitas` = '' WHERE `id` = '70746';
  __________[34/1354]  __NOT__  #Anda seorang Digital Marketing Enthusiast dengan track record di Social Media Ads, Google, Youtube dan platform digital lainya? Tajam dalam menganalisa dan mengoptimasi strategi iklan digital? Terbiasa membuat strategi digital dengan objektif konversi dengan mengukur&memaksimalkan ROI atau ROAS?
  __________entitas_back_to_null()
  ____________UPDATE `jobdescription_dataset_0_5000_fk_train` SET `entitas` = '' WHERE `id` = '49740';
  __________[35/1354]  __NOT__  #Antusias dengan sosial media
  __________entitas_back_to_null()
  ____________UPDATE `jobdescription_dataset_0_5000_fk_train` SET `entitas` = '' WHERE `id` = '69991';
  __________[36/1354]  __NOT__  #Antusias dengan sosial media
  __________entitas_back_to_null()
  ____________UPDATE `jobdescription_dataset_0_5000_fk_train` SET `entitas` = '' WHERE `id` = '31465';
  __________[37/1354]  __NOT__  #Antusias, Positive Thinking dan terbiasa bekerja dengan target/jadwal Berintegritas tinggi, disiplin dan Good Team Player
  __________entitas_back_to_null()
  ____________UPDATE `jobdescription_dataset_0_5000_fk_train` SET `entitas` = '' WHERE `id` = '56121';
  __________[38/1354]  __NOT__  #Antusiasme yang tinggi,dan keterampilan interpersonal yang kuat
  __________entitas_back_to_null()
  ____________UPDATE `jobdescription_dataset_0_5000_fk_train` SET `entitas` = '' WHERE `id` = '96969';
  __________[39/1354]  __NOT__  #Bags and luxury goods enthusiast
  __________entitas_back_to_null()
  ____________UPDATE `jobdescription_dataset_0_5000_fk_train` SET `entitas` = '' WHERE `id` = '14576';
  __________[40/1354]  __NOT__  #Beauty Enthusiast
  __________entitas_back_to_null()
  ____________UPDATE `jobdescription_dataset_0_5000_fk_train` SET `entitas` = '' WHERE `id` = '31436';
  __________[41/1354]  __NOT__  #Beauty/health enthusiast
  __________entitas_back_to_null()
  ____________UPDATE `jobdescription_dataset_0_5000_fk_train` SET `entitas` = '' WHERE `id` = '67871';
  __________[42/1354]  __NOT__  #Berada pada usia produktif bekerja
  __________entitas_back_to_null()
  ____________UPDATE `jobdescription_dataset_0_5000_fk_train` SET `entitas` = '' WHERE `id` = '82806';
  __________[43/1354]  __NOT__  #Berada pada usia produktif bekerja
  __________entitas_back_to_null()
  ____________UPDATE `jobdescription_dataset_0_5000_fk_train` SET `entitas` = '' WHERE `id` = '29033';
  __________[44/1354]  __NOT__  #Bersedia mendengarkan dan memahami kebutuhan para pemangku kepentingan, komunikatif, antusias, berorientasi kepada target
  __________entitas_back_to_null()
  ____________UPDATE `jobdescription_dataset_0_5000_fk_train` SET `entitas` = '' WHERE `id` = '16209';
  __________[45/1354]  __NOT__  #Bertanggung jawab menangani kualitas dan pemeliharaan gedung, Keuangan, Admin&Sumber Daya Manusia
  __________entitas_back_to_null()
  ____________UPDATE `jobdescription_dataset_0_5000_fk_train` SET `entitas` = '' WHERE `id` = '20198';
  __________[46/1354]  __NOT__  #Bertanggung jawab untuk mengelola bagian sumber daya manusia dengan efektif, menjaga standard yang telah ditentukan oleh Management
  __________entitas_back_to_null()
  ____________UPDATE `jobdescription_dataset_0_5000_fk_train` SET `entitas` = '' WHERE `id` = '20206';
  __________[47/1354]  __NOT__  #Bertanggung jawab untuk menyelaraskan dan memonitor keseluruhan kegiatan sumber daya manusia
  __________entitas_back_to_null()
  ____________UPDATE `jobdescription_dataset_0_5000_fk_train` SET `entitas` = '' WHERE `id` = '88278';
  __________[48/1354]  __NOT__  #Bertanggungjawab atas seluruh kinerja, kebijakan dan prosedur prosedur manajemen pemasaran, penjualan dan promosi hubungannya dengan sistem dan mekanisme perusahaan dan sumber daya manusia pada umumnya
  __________entitas_back_to_null()
  ____________UPDATE `jobdescription_dataset_0_5000_fk_train` SET `entitas` = '' WHERE `id` = '578';
  __________[49/1354]  __NOT__  #Bertanggungjawab terhadap keseluruhan pengembangan bisnis dan operasional baik aspek fisik, operation, sumber daya manusia dan administrasi
  __________entitas_back_to_null()
  ____________UPDATE `jobdescription_dataset_0_5000_fk_train` SET `entitas` = '' WHERE `id` = '31460';
  __________[50/1354]  __NOT__  #Berusia
  __________[51/1354]  __INT__  #Berusia 18   25 tahun
  __________[52/1354]  __INT__  #Berusia 18   28 tahun
  __________[53/1354]  __INT__  #Berusia 18   28 tahunM
  __________[54/1354]  __INT__  #Berusia 18 tahun sd 28Tahun
  __________[55/1354]  __INT__  #Berusia 18 24 tahun
  __________[56/1354]  __INT__  #Berusia 20   35 tahun
  __________[57/1354]  __INT__  #Berusia 20 25 tahun
  __________[58/1354]  __INT__  #Berusia 20 30 tahun
  __________[59/1354]  __INT__  #Berusia 20 40 tahun
  __________[60/1354]  __INT__  #Berusia 21 26 Tahun
  __________[61/1354]  __INT__  #Berusia 21 35 tahun
  __________[62/1354]  __INT__  #Berusia 22 30 Tahun
  __________[63/1354]  __INT__  #Berusia 22 30 Tahun
  __________[64/1354]  __INT__  #Berusia 23 30 Tahun
  __________[65/1354]  __INT__  #Berusia 23 45 tahun, diutamakan domisili Medan
  __________[66/1354]  __INT__  #Berusia 24 sampai dengan 35 tahun
  __________[67/1354]  __INT__  #Berusia 25   40 tahun
  __________[68/1354]  __INT__  #Berusia 25 – 35 tahun,  energic
  __________[69/1354]  __INT__  #Berusia 26   35 tahun
  __________[70/1354]  __INT__  #Berusia 28 40 tahun
  __________[71/1354]  __INT__  #Berusia 30 38 tahun
  __________[72/1354]  __INT__  #Berusia 35 45 Tahun
  __________entitas_back_to_null()
  ____________UPDATE `jobdescription_dataset_0_5000_fk_train` SET `entitas` = '' WHERE `id` = '20013';
  __________[73/1354]  __NOT__  #Berusia maks
  __________[74/1354]  __INT__  #Berusia maksimal  40 tahun dengan IPK minimal 3
  __________[75/1354]  __INT__  #Berusia maksimal 25 tahun
  __________[76/1354]  __INT__  #Berusia maksimal 28 tahun
  __________[77/1354]  __INT__  #Berusia maksimal 28 tahun
  __________[78/1354]  __INT__  #Berusia maksimal 29 tahun
  __________[79/1354]  __INT__  #Berusia maksimal 29 Tahun
  __________[80/1354]  __INT__  #Berusia maksimal 30 Tahun
  __________[81/1354]  __INT__  #Berusia maksimal 30 tahun
  __________[82/1354]  __INT__  #Berusia maksimal 30 tahun
  __________[83/1354]  __INT__  #Berusia maksimal 30 tahun
  __________[84/1354]  __INT__  #Berusia maksimal 30 tahun
  __________[85/1354]  __INT__  #Berusia maksimal 30 tahun
  __________[86/1354]  __INT__  #Berusia maksimal 30 tahun
  __________[87/1354]  __INT__  #Berusia maksimal 30 tahun
  __________[88/1354]  __INT__  #Berusia maksimal 30 tahun
  __________entitas_back_to_null()
  ____________UPDATE `jobdescription_dataset_0_5000_fk_train` SET `entitas` = '' WHERE `id` = '29544';
  __________[89/1354]  __NOT__  #Berusia maksimal 30tahun
  __________[90/1354]  __INT__  #Berusia maksimal 35 tahun
  __________[91/1354]  __INT__  #Berusia maksimal 35 tahun
  __________[92/1354]  __INT__  #Berusia maksimal 35 tahun
  __________[93/1354]  __INT__  #Berusia maksimal 35 tahun
  __________[94/1354]  __INT__  #Berusia maksimal 35 Tahun
  __________[95/1354]  __INT__  #Berusia maksimal 35 tahun
  __________[96/1354]  __INT__  #Berusia maksimal 35 tahun
  __________[97/1354]  __INT__  #Berusia maksimal 35 tahun
  __________[98/1354]  __INT__  #Berusia maksimal 35 tahun
  __________[99/1354]  __INT__  #Berusia Maksimal 37 tahun
  __________[100/1354]  __INT__  #Berusia maksimal 37 Tahun
  __________[101/1354]  __INT__  #Berusia Maksimal 40 tahun
  __________[102/1354]  __INT__  #Berusia Maksimal 40 tahun
  __________entitas_back_to_null()
  ____________UPDATE `jobdescription_dataset_0_5000_fk_train` SET `entitas` = '' WHERE `id` = '16722';
  __________[103/1354]  __NOT__  #Berusia maksimal 40 tahun
  __________[104/1354]  __INT__  #Berusia Maksimal 45 tahun
  __________[105/1354]  __INT__  #Berusia maksimal umur 25 tahun
  __________[106/1354]  __INT__  #Berusia maksimal umur 28 tahun
  __________[107/1354]  __INT__  #Berusia min 21 tahun&maks 29 tahun
  __________[108/1354]  __INT__  #Berusia minimal 18 tahun
  __________[109/1354]  __INT__  #Berusia minimal 30 tahun
  __________[110/1354]  __INT__  #Berusia minimal 30 40 tahun
  __________[111/1354]  __INT__  #Berusia minimal 35 tahun dan maksimal 55 tahun pada saat mendaftar pertama kali;
  __________[112/1354]  __INT__  #Berusia minimum 25 tahun
  __________entitas_back_to_null()
  ____________UPDATE `jobdescription_dataset_0_5000_fk_train` SET `entitas` = '' WHERE `id` = '62817';
  __________[113/1354]  __NOT__  #Berusiamaksimal 35 tahun
  __________entitas_back_to_null()
  ____________UPDATE `jobdescription_dataset_0_5000_fk_train` SET `entitas` = '' WHERE `id` = '31921';
  __________[114/1354]  __NOT__  #Creative, independent, enthusiastic learner and technology savvy
  __________[115/1354]  __INT__  #Deskripsi Pekerjaan Usia maksimal 35 Tahun
  __________[116/1354]  __INT__  #Dewasa di bawah usia 45 tahun, sehat jasmani dan rohani
  __________entitas_back_to_null()
  ____________UPDATE `jobdescription_dataset_0_5000_fk_train` SET `entitas` = '' WHERE `id` = '8933';
  __________[117/1354]  __NOT__  #Energetic, enthusiastic, and having high initiative
  __________entitas_back_to_null()
  ____________UPDATE `jobdescription_dataset_0_5000_fk_train` SET `entitas` = '' WHERE `id` = '50720';
  __________[118/1354]  __NOT__  #Enthusiasm and ability to work in a team
  __________entitas_back_to_null()
  ____________UPDATE `jobdescription_dataset_0_5000_fk_train` SET `entitas` = '' WHERE `id` = '74919';
  __________[119/1354]  __NOT__  #Enthusiasm and ability to work in a team
  __________entitas_back_to_null()
  ____________UPDATE `jobdescription_dataset_0_5000_fk_train` SET `entitas` = '' WHERE `id` = '92026';
  __________[120/1354]  __NOT__  #Enthusiasm and ability to work in a team
  __________entitas_back_to_null()
  ____________UPDATE `jobdescription_dataset_0_5000_fk_train` SET `entitas` = '' WHERE `id` = '57634';
  __________[121/1354]  __NOT__  #Enthusiasm for solving interesting problems
  __________entitas_back_to_null()
  ____________UPDATE `jobdescription_dataset_0_5000_fk_train` SET `entitas` = '' WHERE `id` = '30220';
  __________[122/1354]  __NOT__  #Enthusiasm, willingness to learn and self motivated
  __________entitas_back_to_null()
  ____________UPDATE `jobdescription_dataset_0_5000_fk_train` SET `entitas` = '' WHERE `id` = '51424';
  __________[123/1354]  __NOT__  #Enthusiast to work individually and in team
  __________entitas_back_to_null()
  ____________UPDATE `jobdescription_dataset_0_5000_fk_train` SET `entitas` = '' WHERE `id` = '81260';
  __________[124/1354]  __NOT__  #Enthusiastic about social media trends and understanding audience segments
  __________entitas_back_to_null()
  ____________UPDATE `jobdescription_dataset_0_5000_fk_train` SET `entitas` = '' WHERE `id` = '25327';
  __________[125/1354]  __NOT__  #Enthusiastic and passionate
  __________entitas_back_to_null()
  ____________UPDATE `jobdescription_dataset_0_5000_fk_train` SET `entitas` = '' WHERE `id` = '27331';
  __________[126/1354]  __NOT__  #Enthusiastic and passionate
  __________entitas_back_to_null()
  ____________UPDATE `jobdescription_dataset_0_5000_fk_train` SET `entitas` = '' WHERE `id` = '74705';
  __________[127/1354]  __NOT__  #Enthusiastic and positive
  __________entitas_back_to_null()
  ____________UPDATE `jobdescription_dataset_0_5000_fk_train` SET `entitas` = '' WHERE `id` = '22679';
  __________[128/1354]  __NOT__  #Enthusiastic and proactive team player;
  __________entitas_back_to_null()
  ____________UPDATE `jobdescription_dataset_0_5000_fk_train` SET `entitas` = '' WHERE `id` = '81777';
  __________[129/1354]  __NOT__  #Enthusiastic candidates with fresh ideas and the organizational skills
  __________entitas_back_to_null()
  ____________UPDATE `jobdescription_dataset_0_5000_fk_train` SET `entitas` = '' WHERE `id` = '63841';
  __________[130/1354]  __NOT__  #Enthusiastic in teaching kids or adult
  __________entitas_back_to_null()
  ____________UPDATE `jobdescription_dataset_0_5000_fk_train` SET `entitas` = '' WHERE `id` = '92015';
  __________[131/1354]  __NOT__  #Enthusiastically and diligently teaches required English material
  __________entitas_back_to_null()
  ____________UPDATE `jobdescription_dataset_0_5000_fk_train` SET `entitas` = '' WHERE `id` = '8749';
  __________[132/1354]  __NOT__  #Extrovert, Love being on camera and Makeup Enthusiast
  __________entitas_back_to_null()
  ____________UPDATE `jobdescription_dataset_0_5000_fk_train` SET `entitas` = '' WHERE `id` = '32668';
  __________[133/1354]  __NOT__  #Flexible and enthusiastic to work within a fast moving and ever changing organization
  __________entitas_back_to_null()
  ____________UPDATE `jobdescription_dataset_0_5000_fk_train` SET `entitas` = '' WHERE `id` = '83393';
  __________[134/1354]  __NOT__  #Gadget or Gaming Enthusiast are encouraged to apply
  __________[135/1354]  __INT__  #Gelar Sarjana (Diutamakan Teknik/ Akuntansi) usia maksimal 45 Tahun
  __________entitas_back_to_null()
  ____________UPDATE `jobdescription_dataset_0_5000_fk_train` SET `entitas` = '' WHERE `id` = '14132';
  __________[136/1354]  __NOT__  #Gelar sarjana di bidang Sumber Daya Manusia, Psikologi
  __________entitas_back_to_null()
  ____________UPDATE `jobdescription_dataset_0_5000_fk_train` SET `entitas` = '' WHERE `id` = '9499';
  __________[137/1354]  __NOT__  #Good Communication, Dare to make a direct approach, have high enthusiasm at work;
  __________entitas_back_to_null()
  ____________UPDATE `jobdescription_dataset_0_5000_fk_train` SET `entitas` = '' WHERE `id` = '54914';
  __________[138/1354]  __NOT__  #Good team player, dynamic, enthusiast, eye to detail and result oriented
  __________entitas_back_to_null()
  ____________UPDATE `jobdescription_dataset_0_5000_fk_train` SET `entitas` = '' WHERE `id` = '97286';
  __________[139/1354]  __NOT__  #Has a flexible, energetic, enthusiast, positive&creative character
  __________entitas_back_to_null()
  ____________UPDATE `jobdescription_dataset_0_5000_fk_train` SET `entitas` = '' WHERE `id` = '51172';
  __________[140/1354]  __NOT__  #Have high enthusiasm in IT and willing to learn
  __________entitas_back_to_null()
  ____________UPDATE `jobdescription_dataset_0_5000_fk_train` SET `entitas` = '' WHERE `id` = '73596';
  __________[141/1354]  __NOT__  #Having high integrity, motivation, enthusiasm, active, proactive&loyal
  __________entitas_back_to_null()
  ____________UPDATE `jobdescription_dataset_0_5000_fk_train` SET `entitas` = '' WHERE `id` = '45814';
  __________[142/1354]  __NOT__  #Highly enthusiastic
  __________entitas_back_to_null()
  ____________UPDATE `jobdescription_dataset_0_5000_fk_train` SET `entitas` = '' WHERE `id` = '5687';
  __________[143/1354]  __NOT__  #Highly Motivated&Enthusiastic
  __________[144/1354]  __INT__  #Individu yang energik berusia antara 30 – 45 tahun
  __________entitas_back_to_null()
  ____________UPDATE `jobdescription_dataset_0_5000_fk_train` SET `entitas` = '' WHERE `id` = '31807';
  __________[145/1354]  __NOT__  #Initiative, enthusiasm and willingness schedules to meet business priorities and deadlines
  __________entitas_back_to_null()
  ____________UPDATE `jobdescription_dataset_0_5000_fk_train` SET `entitas` = '' WHERE `id` = '63750';
  __________[146/1354]  __NOT__  #Kami mencari pribadi yang antusias untuk berkontribusi dalam menghasilkan penjualan bagi perusahaan Client
  __________entitas_back_to_null()
  ____________UPDATE `jobdescription_dataset_0_5000_fk_train` SET `entitas` = '' WHERE `id` = '52483';