In [2]:
# Import
import sys
sys.path.append('../../../../../')
 
from a_models.usia import *   
 
if __name__ == '__main__': 
    # --------------------------------------------------  
    entity  = "jobdescription_dataset_0_5000_fk_train"  
    label   = "B-Usia_Min I-Usia_Min B-Usia_Max I-Usia_Max" 
    update  = "yes" 
 
    # -------------------------------------------------- 
    wildcard1    = "Berusia%"
    wildcard2    = "%-%"
    wildcard3    = "%Tahun"
    length      = 19
    # -------------------------------------------------- 
    space = "  __" 
    # --------------------------------------------------  
    General_ver3_usia_xx_tahun(entity, label, update, wildcard1, wildcard2, wildcard3, length, space)
    # --------------------------------------------------    
    ####################################################

  ____General_ver3_usia_xx_tahun()
  ______Select  name   , label   , id   , length   from jobdescription_dataset_0_5000_fk_train where entitas = 'Usia'  and length = 19 and name like 'Berusia%'  and name like '%-%'  and name like '%Tahun'  and done is null  order by name asc
  ________Total Row(s) : 13
  __________[1/13]  #Berusia 18-24 tahun __ B-Usia_Min I-Usia_Min B-Usia_Max I-Usia_Max __ 19
  __________pelabelan()
  ____________UPDATE `jobdescription_dataset_0_5000_fk_train` SET `label` = 'B-Usia_Min I-Usia_Min B-Usia_Max I-Usia_Max', `done` = 1 WHERE `id` = '89439';
  __________[2/13]  #Berusia 20-25 tahun __ B-Usia_Min I-Usia_Min B-Usia_Max I-Usia_Max __ 19
  __________pelabelan()
  ____________UPDATE `jobdescription_dataset_0_5000_fk_train` SET `label` = 'B-Usia_Min I-Usia_Min B-Usia_Max I-Usia_Max', `done` = 1 WHERE `id` = '3755';
  __________[3/13]  #Berusia 20-30 tahun __ B-Usia_Min I-Usia_Min B-Usia_Max I-Usia_Max __ 19
  __________pelabelan()
  ____________UPDATE `jobdescription_dataset_0_5000_fk_train` SET `label` = 'B-Usia_Min I-Usia_Min B-Usia_Max I-Usia_Max', `done` = 1 WHERE `id` = '1199';
  __________[4/13]  #Berusia 20-40 tahun __ B-Usia_Min I-Usia_Min B-Usia_Max I-Usia_Max __ 19
  __________pelabelan()
  ____________UPDATE `jobdescription_dataset_0_5000_fk_train` SET `label` = 'B-Usia_Min I-Usia_Min B-Usia_Max I-Usia_Max', `done` = 1 WHERE `id` = '62715';
  __________[5/13]  #Berusia 20-40 Tahun __ B-Usia_Min I-Usia_Min B-Usia_Max I-Usia_Max __ 19
  __________pelabelan()
  ____________UPDATE `jobdescription_dataset_0_5000_fk_train` SET `label` = 'B-Usia_Min I-Usia_Min B-Usia_Max I-Usia_Max', `done` = 1 WHERE `id` = '95949';
  __________[6/13]  #Berusia 21-26 Tahun __ B-Usia_Min I-Usia_Min B-Usia_Max I-Usia_Max __ 19
  __________pelabelan()
  ____________UPDATE `jobdescription_dataset_0_5000_fk_train` SET `label` = 'B-Usia_Min I-Usia_Min B-Usia_Max I-Usia_Max', `done` = 1 WHERE `id` = '66321';
  __________[7/13]  #Berusia 21-35 tahun __ B-Usia_Min I-Usia_Min B-Usia_Max I-Usia_Max __ 19
  __________pelabelan()
  ____________UPDATE `jobdescription_dataset_0_5000_fk_train` SET `label` = 'B-Usia_Min I-Usia_Min B-Usia_Max I-Usia_Max', `done` = 1 WHERE `id` = '29756';
  __________[8/13]  #Berusia 22-30 Tahun __ B-Usia_Min I-Usia_Min B-Usia_Max I-Usia_Max __ 19
  __________pelabelan()
  ____________UPDATE `jobdescription_dataset_0_5000_fk_train` SET `label` = 'B-Usia_Min I-Usia_Min B-Usia_Max I-Usia_Max', `done` = 1 WHERE `id` = '19321';
  __________[9/13]  #Berusia 22-30 Tahun __ B-Usia_Min I-Usia_Min B-Usia_Max I-Usia_Max __ 19
  __________pelabelan()
  ____________UPDATE `jobdescription_dataset_0_5000_fk_train` SET `label` = 'B-Usia_Min I-Usia_Min B-Usia_Max I-Usia_Max', `done` = 1 WHERE `id` = '31402';
  __________[10/13]  #Berusia 23-30 Tahun __ B-Usia_Min I-Usia_Min B-Usia_Max I-Usia_Max __ 19
  __________pelabelan()
  ____________UPDATE `jobdescription_dataset_0_5000_fk_train` SET `label` = 'B-Usia_Min I-Usia_Min B-Usia_Max I-Usia_Max', `done` = 1 WHERE `id` = '32145';
  __________[11/13]  #Berusia 28-40 tahun __ B-Usia_Min I-Usia_Min B-Usia_Max I-Usia_Max __ 19
  __________pelabelan()
  ____________UPDATE `jobdescription_dataset_0_5000_fk_train` SET `label` = 'B-Usia_Min I-Usia_Min B-Usia_Max I-Usia_Max', `done` = 1 WHERE `id` = '61750';
  __________[12/13]  #Berusia 30-38 tahun __ B-Usia_Min I-Usia_Min B-Usia_Max I-Usia_Max __ 19
  __________pelabelan()
  ____________UPDATE `jobdescription_dataset_0_5000_fk_train` SET `label` = 'B-Usia_Min I-Usia_Min B-Usia_Max I-Usia_Max', `done` = 1 WHERE `id` = '26762';
  __________[13/13]  #Berusia 35-45 Tahun __ B-Usia_Min I-Usia_Min B-Usia_Max I-Usia_Max __ 19
  __________pelabelan()
  ____________UPDATE `jobdescription_dataset_0_5000_fk_train` SET `label` = 'B-Usia_Min I-Usia_Min B-Usia_Max I-Usia_Max', `done` = 1 WHERE `id` = '13289';