In [1]:
# Import
import sys
sys.path.append('../../../../')
 
from a_models.general import *   
 
if __name__ == '__main__': 
    # --------------------------------------------------  
    entity  = "company_size"   
    # -------------------------------------------------- 
    space = "  __" 
    # --------------------------------------------------  
    distinct_to_dataset(entity, space)
    # --------------------------------------------------  
    ####################################################

  ____distinct_to_dataset()
  ______Select  name   from company_size where name is not null and name != 'null'  group by name  ORDER BY name ASC
  ________Total Row(s) : 7
  __________[1/7]  #1- 50 pekerja
  __________insert_wo_fk()
  ____________INSERT INTO `dataset_company_size` ( `nama`  ) VALUES (  '1- 50 pekerja'  )
  __________last_id_desc()
  ____________Select  id   from dataset_company_size order by id desc  limit 1
  ______________Last ID:1
  __________updated_data_dataset()
  ____________UPDATE `company_size` SET  `name`='1'  WHERE name = '1- 50 pekerja'
  __________[2/7]  #1001 - 2000 pekerja
  __________insert_wo_fk()
  ____________INSERT INTO `dataset_company_size` ( `nama`  ) VALUES (  '1001 - 2000 pekerja'  )
  __________last_id_desc()
  ____________Select  id   from dataset_company_size order by id desc  limit 1
  ______________Last ID:2
  __________updated_data_dataset()
  ____________UPDATE `company_size` SET  `name`='2'  WHERE name = '1001 - 2000 pekerja'
  __________[3/7]  #2001 - 5000 pekerja
  __________insert_wo_fk()
  ____________INSERT INTO `dataset_company_size` ( `nama`  ) VALUES (  '2001 - 5000 pekerja'  )
  __________last_id_desc()
  ____________Select  id   from dataset_company_size order by id desc  limit 1
  ______________Last ID:3
  __________updated_data_dataset()
  ____________UPDATE `company_size` SET  `name`='3'  WHERE name = '2001 - 5000 pekerja'
  __________[4/7]  #201 - 500 pekerja
  __________insert_wo_fk()
  ____________INSERT INTO `dataset_company_size` ( `nama`  ) VALUES (  '201 - 500 pekerja'  )
  __________last_id_desc()
  ____________Select  id   from dataset_company_size order by id desc  limit 1
  ______________Last ID:4
  __________updated_data_dataset()
  ____________UPDATE `company_size` SET  `name`='4'  WHERE name = '201 - 500 pekerja'
  __________[5/7]  #501 - 1000 pekerja
  __________insert_wo_fk()
  ____________INSERT INTO `dataset_company_size` ( `nama`  ) VALUES (  '501 - 1000 pekerja'  )
  __________last_id_desc()
  ____________Select  id   from dataset_company_size order by id desc  limit 1
  ______________Last ID:5
  __________updated_data_dataset()
  ____________UPDATE `company_size` SET  `name`='5'  WHERE name = '501 - 1000 pekerja'
  __________[6/7]  #51 - 200 pekerja
  __________insert_wo_fk()
  ____________INSERT INTO `dataset_company_size` ( `nama`  ) VALUES (  '51 - 200 pekerja'  )
  __________last_id_desc()
  ____________Select  id   from dataset_company_size order by id desc  limit 1
  ______________Last ID:6
  __________updated_data_dataset()
  ____________UPDATE `company_size` SET  `name`='6'  WHERE name = '51 - 200 pekerja'
  __________[7/7]  #Lebih dari 5000 pekerja
  __________insert_wo_fk()
  ____________INSERT INTO `dataset_company_size` ( `nama`  ) VALUES (  'Lebih dari 5000 pekerja'  )
  __________last_id_desc()
  ____________Select  id   from dataset_company_size order by id desc  limit 1
  ______________Last ID:7
  __________updated_data_dataset()
  ____________UPDATE `company_size` SET  `name`='7'  WHERE name = 'Lebih dari 5000 pekerja'