In [5]:
# Import
import mysql.connector  
import time

entity = "company_website"
# ----------------------------------------------------------   
space = "__"
# ----------------------------------------------------------   
host="localhost"
user="root" 
database="pr_scraping_job_vacancy_indonesia_2023_07"
mydb = mysql.connector.connect(host=host,user=user,password="",database=database)
# ----------------------------------------------------------   
query = " Select "
query += " fk_id  "  
query += " from " + entity    
query += " order by id desc "   
query += " limit 1 "    
# ----------------------------------------------------------    
mycursor = mydb.cursor()
mycursor.execute(query) 
result_check = mycursor.fetchone()
# ---------------------------------------------------------- 
mycursor.close()
mydb.close()
# ----------------------------------------------------------  
if result_check is not None and len(result_check) > 0:
    last_id = result_check[0]
else: 
    last_id = 0
# ---------------------------------------------------------- 
print("Last ID:" + str(last_id), flush=True) 
# ---------------------------------------------------------- 


# ----------------------------------------------------------   
query = " Select "
query += " scriptx  "  
query += " , id  "  
query += " from jobstreet_raws_2023_07 "     
query += " where id > " + str(last_id)   
query += " order by id asc "     
# ----------------------------------------------------------  
# print(space + query, flush=True)
# ----------------------------------------------------------    
mydb = mysql.connector.connect(host=host,user=user,password="",database=database)
mycursor = mydb.cursor()
mycursor.execute(query)
myresult = mycursor.fetchall()
mycursor.close()
mydb.close()
# ----------------------------------------------------------
for x in myresult:    
    scriptx     = x[0] 
    idx         = x[1] 

    pre_scriptx = scriptx.split('"companyWebsite":"') 
    pre_scriptx2 = pre_scriptx[1].split('"') 

    text = pre_scriptx2[0]
    # ------------------------------------------------------ 
    print(str(idx) + " __ " + text, flush=True) 
    # ------------------------------------------------------ 
 
    # ------------------------------------------------------  
    # ------------------------------------------------------ 
    query_commit = "INSERT INTO `"+entity+"`( "
    # ------------------------------------------------------ 
    query_commit += " `fk_id`, " 
    query_commit += " `name` " 
    query_commit += " ) VALUES ( "
    query_commit += " '" + str(idx) + "', "    
    query_commit += ' "' + str(text).replace("'", "\\'") + '" '
    query_commit += " )  " 
    # ------------------------------------------------------ 
    print(space + query_commit, flush=True)
    # ------------------------------------------------------  
    mydb = mysql.connector.connect(host=host,user=user,password="",database=database)
    mycursor = mydb.cursor()
    mycursor.execute(query_commit)
    mydb.commit()     
    # ------------------------------------------------------ 
    mycursor.close()
    mydb.close()
    # ------------------------------------------------------

Last ID:32958
32959 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '32959',  ""  )
32960 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '32960',  ""  )
32961 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '32961',  ""  )
32962 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '32962',  ""  )
32963 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '32963',  ""  )
32964 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '32964',  ""  )
32965 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '32965',  ""  )
32966 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '32966',  ""  )
32967 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '32967',  ""  )
32968 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '32968',  ""  )
32969 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '32969',  ""  )
32970 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '32970',  ""  )
32971 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '32971',  ""  )
32972 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '32972',  ""  )
32973 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '32973',  ""  )
32974 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '32974',  ""  )
32975 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '32975',  ""  )
32976 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '32976',  ""  )
32977 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '32977',  ""  )
32978 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '32978',  ""  )
32979 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '32979',  ""  )
32980 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '32980',  ""  )
32981 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '32981',  ""  )
32982 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '32982',  ""  )
32983 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '32983',  ""  )
32984 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '32984',  ""  )
32985 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '32985',  ""  )
32986 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '32986',  ""  )
32987 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '32987',  ""  )
32988 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '32988',  ""  )
32989 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '32989',  ""  )
32990 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '32990',  ""  )
32991 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '32991',  ""  )
32992 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '32992',  ""  )
32993 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '32993',  ""  )
32994 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '32994',  ""  )
32995 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '32995',  ""  )
32996 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '32996',  ""  )
32997 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '32997',  ""  )
32998 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '32998',  ""  )
32999 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '32999',  ""  )
33000 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33000',  ""  )
33001 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33001',  ""  )
33002 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33002',  ""  )
33003 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33003',  ""  )
33004 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33004',  ""  )
33005 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33005',  ""  )
33006 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33006',  ""  )
33007 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33007',  ""  )
33008 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33008',  ""  )
33009 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33009',  ""  )
33010 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33010',  ""  )
33011 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33011',  ""  )
33012 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33012',  ""  )
33013 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33013',  ""  )
33014 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33014',  ""  )
33015 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33015',  ""  )
33016 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33016',  ""  )
33017 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33017',  ""  )
33018 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33018',  ""  )
33019 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33019',  ""  )
33020 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33020',  ""  )
33021 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33021',  ""  )
33022 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33022',  ""  )
33023 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33023',  ""  )
33024 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33024',  ""  )
33025 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33025',  ""  )
33026 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33026',  ""  )
33027 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33027',  ""  )
33028 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33028',  ""  )
33029 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33029',  ""  )
33030 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33030',  ""  )
33031 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33031',  ""  )
33032 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33032',  ""  )
33033 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33033',  ""  )
33034 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33034',  ""  )
33035 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33035',  ""  )
33036 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33036',  ""  )
33037 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33037',  ""  )
33038 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33038',  ""  )
33039 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33039',  ""  )
33040 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33040',  ""  )
33041 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33041',  ""  )
33042 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33042',  ""  )
33043 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33043',  ""  )
33044 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33044',  ""  )
33045 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33045',  ""  )
33046 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33046',  ""  )
33047 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33047',  ""  )
33048 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33048',  ""  )
33049 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33049',  ""  )
33050 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33050',  ""  )
33051 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33051',  ""  )
33052 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33052',  ""  )
33053 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33053',  ""  )
33054 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33054',  ""  )
33055 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33055',  ""  )
33056 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33056',  ""  )
33057 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33057',  ""  )
33058 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33058',  ""  )
33059 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33059',  ""  )
33060 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33060',  ""  )
33061 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33061',  ""  )
33062 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33062',  ""  )
33063 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33063',  ""  )
33064 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33064',  ""  )
33065 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33065',  ""  )
33066 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33066',  ""  )
33067 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33067',  ""  )
33068 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33068',  ""  )
33069 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33069',  ""  )
33070 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33070',  ""  )
33071 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33071',  ""  )
33072 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33072',  ""  )
33073 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33073',  ""  )
33074 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33074',  ""  )
33075 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33075',  ""  )
33076 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33076',  ""  )
33077 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33077',  ""  )
33078 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33078',  ""  )
33079 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33079',  ""  )
33080 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33080',  ""  )
33081 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33081',  ""  )
33082 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33082',  ""  )
33083 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33083',  ""  )
33084 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33084',  ""  )
33085 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33085',  ""  )
33086 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33086',  ""  )
33087 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33087',  ""  )
33088 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33088',  ""  )
33089 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33089',  ""  )
33090 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33090',  ""  )
33091 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33091',  ""  )
33092 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33092',  ""  )
33093 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33093',  ""  )
33094 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33094',  ""  )
33095 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33095',  ""  )
33096 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33096',  ""  )
33097 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33097',  ""  )
33098 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33098',  ""  )
33099 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33099',  ""  )
33100 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33100',  ""  )
33101 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33101',  ""  )
33102 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33102',  ""  )
33103 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33103',  ""  )
33104 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33104',  ""  )
33105 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33105',  ""  )
33106 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33106',  ""  )
33107 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33107',  ""  )
33108 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33108',  ""  )
33109 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33109',  ""  )
33110 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33110',  ""  )
33111 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33111',  ""  )
33112 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33112',  ""  )
33113 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33113',  ""  )
33114 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33114',  ""  )
33115 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33115',  ""  )
33116 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33116',  ""  )
33117 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33117',  ""  )
33118 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33118',  ""  )
33119 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33119',  ""  )
33120 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33120',  ""  )
33121 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33121',  ""  )
33122 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33122',  ""  )
33123 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33123',  ""  )
33124 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33124',  ""  )
33125 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33125',  ""  )
33126 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33126',  ""  )
33127 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33127',  ""  )
33128 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33128',  ""  )
33129 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33129',  ""  )
33130 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33130',  ""  )
33131 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33131',  ""  )
33132 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33132',  ""  )
33133 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33133',  ""  )
33134 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33134',  ""  )
33135 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33135',  ""  )
33136 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33136',  ""  )
33137 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33137',  ""  )
33138 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33138',  ""  )
33139 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33139',  ""  )
33140 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33140',  ""  )
33141 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33141',  ""  )
33142 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33142',  ""  )
33143 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33143',  ""  )
33144 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33144',  ""  )
33145 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33145',  ""  )
33146 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33146',  ""  )
33147 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33147',  ""  )
33148 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33148',  ""  )
33149 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33149',  ""  )
33150 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33150',  ""  )
33151 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33151',  ""  )
33152 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33152',  ""  )
33153 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33153',  ""  )
33154 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33154',  ""  )
33155 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33155',  ""  )
33156 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33156',  ""  )
33157 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33157',  ""  )
33158 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33158',  ""  )
33159 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33159',  ""  )
33160 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33160',  ""  )
33161 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33161',  ""  )
33162 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33162',  ""  )
33163 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33163',  ""  )
33164 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33164',  ""  )
33165 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33165',  ""  )
33166 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33166',  ""  )
33167 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33167',  ""  )
33168 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33168',  ""  )
33169 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33169',  ""  )
33170 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33170',  ""  )
33171 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33171',  ""  )
33172 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33172',  ""  )
33173 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33173',  ""  )
33174 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33174',  ""  )
33175 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33175',  ""  )
33176 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33176',  ""  )
33177 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33177',  ""  )
33178 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33178',  ""  )
33179 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33179',  ""  )
33180 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33180',  ""  )
33181 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33181',  ""  )
33182 __
__INSERT INTO `company_website`(  `fk_id`,  `name`  ) VALUES (  '33182',  ""  )
33183 __