In [1]:
# Import
import sys
sys.path.append('../../../../')
 
from a_models.general import *   
 
if __name__ == '__main__': 
    # --------------------------------------------------  
    entity  = "employment_types"   
    # -------------------------------------------------- 
    space = "  __" 
    # --------------------------------------------------  
    distinct_to_datasetX(entity, space)
    # --------------------------------------------------  
    ####################################################

  ____distinct_to_datasetX()
  ______Select  name   , count(*) as counter   from jobrequirement_employmenttypes where name is not null and name != 'null' and name != ''  group by name  ORDER BY count(*) desc, name ASC
  ________Total Row(s) : 6
  __________[1/6]  #Penuh Waktu
  __________insert_wo_fk()
  ____________INSERT INTO `dataset_employment_types` ( `nama`  ) VALUES (  'Penuh Waktu'  )
  __________last_id_desc()
  ____________Select  id   from dataset_employment_types order by id desc  limit 1
  ______________Last ID:1
  __________updated_data_dataset()
  ____________UPDATE `employment_types` SET  `name`='1'  WHERE name = 'Penuh Waktu'


  __________[2/6]  #Kontrak
  __________insert_wo_fk()
  ____________INSERT INTO `dataset_employment_types` ( `nama`  ) VALUES (  'Kontrak'  )
  __________last_id_desc()
  ____________Select  id   from dataset_employment_types order by id desc  limit 1
  ______________Last ID:2
  __________updated_data_dataset()
  ____________UPDATE `employment_types` SET  `name`='2'  WHERE name = 'Kontrak'


  __________[3/6]  #Tidak Terspesifikasi
  __________insert_wo_fk()
  ____________INSERT INTO `dataset_employment_types` ( `nama`  ) VALUES (  'Tidak Terspesifikasi'  )
  __________last_id_desc()
  ____________Select  id   from dataset_employment_types order by id desc  limit 1
  ______________Last ID:3
  __________updated_data_dataset()
  ____________UPDATE `employment_types` SET  `name`='3'  WHERE name = 'Tidak Terspesifikasi'


  __________[4/6]  #Paruh Waktu
  __________insert_wo_fk()
  ____________INSERT INTO `dataset_employment_types` ( `nama`  ) VALUES (  'Paruh Waktu'  )
  __________last_id_desc()
  ____________Select  id   from dataset_employment_types order by id desc  limit 1
  ______________Last ID:4
  __________updated_data_dataset()
  ____________UPDATE `employment_types` SET  `name`='4'  WHERE name = 'Paruh Waktu'


  __________[5/6]  #Magang
  __________insert_wo_fk()
  ____________INSERT INTO `dataset_employment_types` ( `nama`  ) VALUES (  'Magang'  )
  __________last_id_desc()
  ____________Select  id   from dataset_employment_types order by id desc  limit 1
  ______________Last ID:5
  __________updated_data_dataset()
  ____________UPDATE `employment_types` SET  `name`='5'  WHERE name = 'Magang'


  __________[6/6]  #Temporer
  __________insert_wo_fk()
  ____________INSERT INTO `dataset_employment_types` ( `nama`  ) VALUES (  'Temporer'  )
  __________last_id_desc()
  ____________Select  id   from dataset_employment_types order by id desc  limit 1
  ______________Last ID:6
  __________updated_data_dataset()
  ____________UPDATE `employment_types` SET  `name`='6'  WHERE name = 'Temporer'