In [1]:
# Import
import sys
sys.path.append('../../../')
 
from a_models.dynamic_annotation import *   
 
if __name__ == '__main__': 
    # --------------------------------------------------     
    space = "  __" 
    # --------------------------------------------------  
    entity          = 'High School'  
    label           = 'B-tingkat_pendidikan I-tingkat_pendidikan'   
    # --------------------------------------------------  
    printx          = 'no'
    updatex         = 'yes'
    # --------------------------------------------------  
    dynamic(entity, label, printx, updatex, space)
    # --------------------------------------------------   
    print(space + "__End", flush=True) 
    ####################################################

  ____dynamic()
  ______split length: 2
  ________dynamic_wildcard()
  __________Select  id  , name  from datasets  where name like 'High'  order by id asc
  ____________Total Row(s) : 4544
  ____________round_10_perc Row(s) : 454
  ______________[1/4544]  #2629 __ High __ 0
  ____________________[1/1]  #2630 __ School __ nte: School __ csX: 1 __ lsX: 2
  ____________________split_ID() 2629 2630  __ B-tingkat_pendidikan I-tingkat_pendidikan
  ______________________updated_data_dynamic() 2629 __ B-tingkat_pendidikan
  ________________________UPDATE `datasets` SET  `tingkat_pendidikan` = 'B'  WHERE id = 2629
  ______________________updated_data_dynamic() 2630 __ I-tingkat_pendidikan
  ________________________UPDATE `datasets` SET  `tingkat_pendidikan` = 'I'  WHERE id = 2630
  ____________
  ______________[454/4544]  #984913 __ high __ 0
  ____________________[1/1]  #984914 __ - __ nte: School __ csX: 1 __ lsX: 2
  ____________
  ______________[908/4544]  #2047331 __ high __ 0
  ____________________[1/1]  #2047332 __ integrity __ nte: School __ csX: 1 __ lsX: 2
  ____________
  ______________[1362/4544]  #3097554 __ High __ 0
  ____________________[1/1]  #3097555 __ - __ nte: School __ csX: 1 __ lsX: 2
  ____________
  ______________[1816/4544]  #4043452 __ High __ 0
  ____________________[1/1]  #4043453 __ School __ nte: School __ csX: 1 __ lsX: 2
  ____________________split_ID() 4043452 4043453  __ B-tingkat_pendidikan I-tingkat_pendidikan
  ______________________updated_data_dynamic() 4043452 __ B-tingkat_pendidikan
  ________________________UPDATE `datasets` SET  `tingkat_pendidikan` = 'B'  WHERE id = 4043452
  ______________________updated_data_dynamic() 4043453 __ I-tingkat_pendidikan
  ________________________UPDATE `datasets` SET  `tingkat_pendidikan` = 'I'  WHERE id = 4043453
  ____________
  ______________[2270/4544]  #5036190 __ high __ 0
  ____________________[1/1]  #5036191 __ performing __ nte: School __ csX: 1 __ lsX: 2
  ____________
  ______________[2724/4544]  #6027183 __ High __ 0
  ____________________[1/1]  #6027184 __ School __ nte: School __ csX: 1 __ lsX: 2
  ____________________split_ID() 6027183 6027184  __ B-tingkat_pendidikan I-tingkat_pendidikan
  ______________________updated_data_dynamic() 6027183 __ B-tingkat_pendidikan
  ________________________UPDATE `datasets` SET  `tingkat_pendidikan` = 'B'  WHERE id = 6027183
  ______________________updated_data_dynamic() 6027184 __ I-tingkat_pendidikan
  ________________________UPDATE `datasets` SET  `tingkat_pendidikan` = 'I'  WHERE id = 6027184
  ____________
  ______________[3178/4544]  #7094725 __ High __ 0
  ____________________[1/1]  #7094726 __ Level __ nte: School __ csX: 1 __ lsX: 2
  ____________
  ______________[3632/4544]  #8019567 __ high __ 0
  ____________________[1/1]  #8019568 __ school __ nte: School __ csX: 1 __ lsX: 2
  ____________________split_ID() 8019567 8019568  __ B-tingkat_pendidikan I-tingkat_pendidikan
  ______________________updated_data_dynamic() 8019567 __ B-tingkat_pendidikan
  ________________________UPDATE `datasets` SET  `tingkat_pendidikan` = 'B'  WHERE id = 8019567
  ______________________updated_data_dynamic() 8019568 __ I-tingkat_pendidikan
  ________________________UPDATE `datasets` SET  `tingkat_pendidikan` = 'I'  WHERE id = 8019568
  ____________
  ______________[4086/4544]  #8821791 __ high __ 0
  ____________________[1/1]  #8821792 __ growth __ nte: School __ csX: 1 __ lsX: 2
  ____________
  ______________[4540/4544]  #9587897 __ high __ 0
  ____________________[1/1]  #9587898 __ pressure __ nte: School __ csX: 1 __ lsX: 2
  ____________
  ____End