In [1]:
# Import
import sys
sys.path.append('../../../../')
 
from a_models.general import *   
 
if __name__ == '__main__': 
    # --------------------------------------------------  
    entity      = "career_levels"   
    entity_new  = "jobtitle"
    attr        = "career_level_id"
    # -------------------------------------------------- 
    space = "  __" 
    # --------------------------------------------------   
    migration_as_fk(entity, entity_new, attr, space)
    # --------------------------------------------------  
    ####################################################

  ____migration_as_fk()
  ______Select  name   from career_levels group by name  ORDER BY name ASC
  ________Total Row(s) : 7
  __________[1/7]  #1
  ____________UPDATE `jobtitle` SET  `career_level_id`='1'  WHERE fk_id IN (SELECT fk_id FROM `career_levels` WHERE `name` LIKE '1')